@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

@import "~rsuite/dist/rsuite.min.css";

.rs-drawer-content {
  background-color: #1f2837 !important;
  color: white;
}

.rs-drawer-title {
  color: white;
}

.rs-picker-menu {
  background-color: #292d33;
}

.rs-calendar-month {
  background-color: #292d33;
}
.rs-calendar-month-dropdown {
  background-color: #292d33;
}
.rs-calendar-btn-close {
  background-color: #292d33;
}

@layer base {
  body {
    @apply bg-gradient-to-b from-gray-800 via-gray-900 to-black  text-white;
    font-family: "Ubuntu", sans-serif;
  }
}

@layer components {
  .loginButton {
    @apply text-sm hover:bg-gray-500 max-w-max max-h-8 focus:bg-green-500  py-1.5 px-4 transition-colors;
  }
}
